---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca de mi sitio">
    <h1>Acerca de</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, adipisci minima quia hic facere voluptatem exercitationem obcaecati quos, ipsum odio voluptate non eaque accusantium pariatur eius, debitis fugit! Facilis cum ipsum quibusdam error sint distinctio. Quidem, fugit nisi? Ex facilis deserunt fugit molestias, officiis odio? Expedita asperiores ullam quisquam ab quam unde enim, odio dolore suscipit impedit dolorem? Debitis necessitatibus eveniet odio similique, repellat facilis accusantium quae! Alias, exercitationem. Ut animi aperiam dignissimos tenetur, sequi odio nisi fugit autem minima alias ea impedit porro voluptas explicabo culpa atque illum hic quis. Rerum vel laboriosam quo asperiores tempora cupiditate necessitatibus aspernatur?</p>
</Layout>