<footer class="bg-zinc-900 py-10 gap-4 mt-4">
    <div class="container mx-auto flex flex-col text-center md:flex-row md:text-left justify-evenly">
        <div>
            <h4 class="font-bold text-xl">Site map</h4>
            <a href="/">Home</a>
            <a href="/about">About us</a>
            <a href="/pricing">Pricing</a>
        </div>

        <div>
            <h4 class="font-bold text-xl">Site map</h4>
            <p>Lorem, ipsum.</p>
            <p>Lorem, ipsum.</p>
            <p>Lorem, ipsum.</p>
        </div>

        <div>
            <h4 class="font-bold text-xl">Social links</h4>
            <a href="/">Facebook</a>
            <a href="/about">Instagram</a>
            <a href="/pricing">Twitter</a>
            <a href="/pricing">TikTok</a>
        </div>
    </div>
</footer>
